.name{
    font-size: 60px;
    padding: 0;
    text-align: center;
}
p{
    font-family: Georgia;
    font-size: 20px;
}
#extra, h2{
    text-transform: capitalize;
}
.name, h2, #extra{
    font-weight: bold;
}
h2, #extra{
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 40px;
}
#extra{
    text-align: center;
}
figure {
    text-align: center;
}
img {
    width: 640px;
}
figcaption{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}
ul {
    text-align: center;
}
li {
    display: inline-block;
    margin: 0 1em;
}
html {
    background-color: blueviolet;
}
body {
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
    background-color: white;
}
main {
    margin: 1em;
}